*.[oa]
*~
*o.cmd
*.lo
*.swp
*.obj

autom4te.cache
config.log
config.status
example/ndpiReader
libndpi.pc
libtool
/src/lib/Makefile
/src/lib/ndpi_network_list_compile
/src/lib/ndpi_network_list.c.inc
/src/include/Makefile
/src/include/ndpi_config.*
.deps
.libs
.dirstamp
*.la
stamp-h1
/Makefile
/config.h
*.in
/compile
/configure
/config.guess
/config.h.in
/config.sub
/config.status
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile
/libndpi.pc
/libtool
/example/ndpiReader
/example/Makefile
/aclocal.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/aclocal.m4
/mstring/mstring

